.imagencss1 {
        height: 500px;
        width: 500px;
        background-image: url(/imagenes/hand-pointer.png);
        margin: auto;
        background-size: 200px;
        background-repeat: no-repeat;
        background-position-x: center;
        transform: scaleX(-1);
}
.imagencss2 {
background-image: url(/imagenes/chincheta.png);
background-size: 1em;
background-repeat: no-repeat;
padding-left: 1.3em;
background-position-y: center;
}
.selectores.avanzados {
background: grey;
}
p:first-child {
    background: blue;
    color: aliceblue;
}
.selectores.avanzados p::first-letter {
    font-size: 30px;
    color: green;
}
.selectores.avanzados div:nth-child(2) {
    background: green;
}
a[href^="https:"] {
    background: yellow;
}