/* Así se insertaría otra hoja de estilos con @import 
@import "import.css";
*/
nav>ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    background: lightgray;
    top: 0;
    margin: 0;
    height: 30px;
    z-index: 10 ;
    padding: 0;
}
body {
    margin-top: 45px;
    font-family: "Catamaran", sans-serif;
}
.display-none {
    display: none;
}
/* Responsive */
@media all and (min-width: 400px) and (max-width: 800px){
    a {
        background: beige;
    }
    nav>ul {
        display: flex;
        flex-direction: column;
    }
    body {
        margin-top: 150px;
    }
    
}
.boton {
    display: flex;
    background-color: blue;
    justify-content: center;
    color: white;
    border-radius: 5px;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    width: fit-content;
    padding: 17px 42px;
    margin: auto;
}
.boton2 {
    display: flex;
    background-color: blue;
    justify-content: center;
    color: white;
    border-radius: 5px;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    width: fit-content;
    padding: 17px 42px;
    margin: auto;
    margin-top: 50px;
}
span#ofc {
    color: red;
    text-decoration: underline;
    cursor:pointer;
}


